<!doctype html>
<html>
<head>
    <title>$title</title>

    <meta charset="utf-8">
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Kube CSS -->
    <link rel="stylesheet" href="/x/kube.min.css">

</head>
<body>
    <div class="page">
     <div class="is-row">
      <div class="is-col is-10"><span class="label is-success is-secondary">$feedname</span>
        <div>&nbsp;</div>
        <div class="is-width-small is-shadow-1">&nbsp;<a href=/t/all> Timeline</a></div>
        <div class="is-width-small is-shadow-1">&nbsp;<a href=/m/all> By month</a></div>
        <div class="is-width-small is-shadow-1">&nbsp;<a href=/h/all> Hashtags</a></div>
        <div class="is-width-small is-shadow-1">&nbsp;</div>
        <div class="is-width-small is-shadow-1">&nbsp;<a href=/s> Stat</a></div>
        <div class="is-width-small is-shadow-1">&nbsp;<a href=/c> Change feed</a></div>
        <div class="is-width-small is-shadow-1">&nbsp;<a href=/f> Find</a></div>

      </div>
      <div class="is-col is-90">
        <table class="is-striped">
<!-- out -->
 $html_text
 $pager
<!-- /out -->
        </table>
      </div>
     </div>
    
    </div>
</body>
</html>
